
<%= render 'layouts/main_container'%>
    <h3 class="card-title mt-3 text-center">Edit Appointment Details</h3>
                
    <%= render partial: "layouts/errors", locals: {object: @appointment} %>
    <%= render partial: "form" %>

<%= render 'layouts/main_container_footer'%>